@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@300,700&family=Space+Mono&Sansita+Swashed:wght@300&Quicksand:wght@300&display=swap");

:root {
  --background-color: #232830;
  --accent-color: #ff7575;
  --white: #fff;
  --twitter-blue: #4699e0;
  --gray: #595c60;
  --line-color: #2b2f35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.white {
  color: var(--white, white);
}

.gray {
  color: var(--gray, gray);
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
}

.sansita {
  font-family: "Sansita Swashed", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--background-color, black);
  padding: 5vh 5vw;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 10vh;
  width: 100%;
}

ul {
  list-style: none;
  display: inline-flex;
}

a {
  text-decoration: none;
}

.nav-menu > a > li {
  margin: 0 3vw;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-symbols-outlined.pencil-icon {
  color: var(--accent-color, red);
  transform: scale(10);
  margin-top: 5vh;
  margin-bottom: 13vh;
}

h1 {
  color: var(--accent-color, red);
  font-size: 4rem;
  margin-bottom: 2vh;
  text-align: center;
}

#welcome > p {
  color: var(--white, white);
  font-size: 1.2rem;
  margin-bottom: 7vh;
  text-align: center;
}

hr {
  border: 0.1rem solid var(--line-color, gray);
  margin-bottom: 2vh;
}

.navbar {
  display: flex;
  justify-items: flex-end;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar > ul > li {
  margin: 0 1vw;
}

#cards-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 15vh;
}

.card {
  background-color: var(--white, white);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
  width: 100%;
}

.card:hover {
  animation-name: card;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.card-image {
  border-radius: 2rem;
  max-width: 23vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.card-text {
  height: 100%;
}

.card-title,
.card-description {
  margin-bottom: 2vh;
}

.card-footer {
  border-top: 0.1rem solid var(--accent-color, red);
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
}

#page-nav {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10vh;
}

.page-selector {
  color: var(--gray, gray);
  font-size: 1.7rem;
}

#page-nav > a:hover {
  animation: page-nav;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  color: var(--gray, gray);
  font-size: 1.7rem;
}

footer {
  color: var(--white, white);
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.twitter-button {
  background-color: var(--twitter-blue, blue);
  border-radius: 0.5rem;
  color: var(--white, white);
  font-weight: bold;
  padding: 1vh 1vw;
}

@keyframes card {
  0% {
    background-color: var(--white, white);
  }
  100% {
    background-color: var(--accent-color, red);
    color: var(--background-color, black);
  }
}

@keyframes page-nav {
  0% {
    color: var(--gray, gray);
  }
  100% {
    color: var(--accent-color, red);
  }
}

@media screen and (max-width: 1200px) {
  #cards-container {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .card-image {
    max-width: 35vw;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    overflow-x: auto;
    padding: 2vh 0;
  }

  .footer-left {
    font-size: 0.7rem;
    justify-content: space-around;
    width: 75%;
  }

  .twitter-button {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    font-size: 1.2rem;
  }

  #cards-container {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .card-image {
    max-width: 75vw;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .navbar {
    font-size: 0.9rem;
  }

  #welcome > p {
    font-size: 0.8rem;
  }

  .navbar {
    font-size: 1.2rem;
  }

  .card {
    border-radius: 1rem;
  }

  .card-text {
    padding: 0 3vw;
  }

  #page-nav {
    width: 80%;
  }

  footer {
    width: 100%;
  }
}
