@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&family=Roboto:wght@300,700&family=Space+Mono&Sansita+Swashed:wght@300&Quicksand:wght@300&display=swap");

:root {
  --background-color: #232830;
  --accent-color: #ff7575;
  --white: #fff;
  --twitter-blue: #4699e0;
  --gray: #595c60;
  --line-color: #2b2f35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.white {
  color: var(--white, white);
}

.gray {
  color: var(--gray, gray);
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
}

.sansita {
  font-family: "Sansita Swashed", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--background-color, black);
  padding: 5vh 5vw;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 10vh;
  width: 100%;
}

ul {
  list-style: none;
  display: inline-flex;
}

a {
  text-decoration: none;
}

.nav-menu > a > li {
  margin: 0 3vw;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-symbols-outlined.pencil-icon {
  color: var(--accent-color);
  transform: scale(10);
  margin-top: 5vh;
  margin-bottom: 13vh;
}

h1 {
  color: var(--accent-color);
  font-size: 4rem;
  margin-bottom: 2vh;
}

#welcome > p {
  color: var(--white);
  font-size: 1.2rem;
  margin-bottom: 7vh;
}

hr {
  border: 0.1rem solid var(--line-color);
  margin-bottom: 2vh;
}

.navbar {
  display: flex;
  justify-items: flex-end;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar > ul > li {
  margin: 0 1vw;
}

#cards-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  background-color: var(--white);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  
  padding: 2vh 2vw;
  width: 100%;
}

.card:hover {
  animation-name: card, card-line;
}

.card-image {
  border-radius: 2rem;
  max-width: 23vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.card-title,
.card-description {
  margin-bottom: 2vh;
}

.card-footer {
  border-top: 0.1rem solid var(--accent-color);
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
  position: relative;
}

@keyframes card {
  0% {
    background-color: var(--white);
  }
  100% {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
}

@keyframes card-line {
  0% {
    background-color: var(--accent-color);
  }
  100% {
    background-color: var(--background-color);
    color: var(--white);
  }
}
